@common-primary-color: #50426c;
@common-secondary-color: #67568c;
@common-highlighted-color: #7958c2;

@support-primary-color: #ff6960;
@support-secondary-color: #ff8d87;

@warn-primary-color: #f47521;
@warn-secondary-color: #f6991b;

@accept-primary-color: #32bb32;
@decline-primary-color: #ff4d4d;

@text-primary-color: #444444;

@inactive-text-color: #c5c5c5;
@inactive-background-color: #f5f5f5;

@gray-info-background-color: #e9e5f3;
